.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  max-width: 400px;
  background:rgba(255,255,255, 0.5);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  height: 50px;
  min-width: 50px;
  background-color: #B7B7B7;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  border: none;
}

button:active {
  box-shadow: none;
}

.display-container {
  background-color: antiquewhite;
  height: 100px;
  border-radius: 5px;
  grid-row: 1;
  grid-column: 1 / span 2;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.19) inset;
}

.displays {
  padding: 1rem;
  text-align: right;
}

.key-pad {
  margin-top: 10px;
}

.number-pad {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}

#zero {
  grid-column: span 2;
  border-radius: 999em;
}

#equals {
  background-color: #CC99CC;
  grid-column: span 2;
  border-radius: 999em;
}

#clear {
  background-color: #828282;
  grid-column: span 2;
  border-radius: 999em;
}